<label for="">Server name</label>
<!--<input-->
  <!--type="text"-->
  <!--(input)="onUpdateServerName($event)">-->
<input
  type="text"
  [(ngModel)]="serverName">
<!--<p>{{ serverName }}</p>-->
<button
  [disabled]="serverName === ''"
  (click)="onCreateServer()">
    Add server
</button>

<!--<p [innerText]="allowAddServer"></p>-->
<!--<p>{{ serverCreationStatus }}</p>-->
<p *ngIf="serverCreated">Server was created {{ serverName }}!</p>
<app-server *ngFor="let server of servers"></app-server>
<hr>
<button (click)="onToggleDetails()">Show password</button>
<p *ngIf="showPassword">Password = zzz</p>
<div
  *ngFor="let count of log; let ind = index"
  [ngStyle]="{backgroundColor: ind >= 3 ? 'red' : ''}"
  [ngClass]="{'u-color-green': ind >= 6}"
  >{{ count }}</div>
